/* Styling Content */
body {
  background-color: #e3e7eb !important;
}

.bg-container {
  background-color: #fff;
}

.paraf {
  text-align: justify;
}

.container-btnlink .btn-contact:hover {
  text-decoration: none !important;
  background-color: #0058dc !important;
}

.container-btnlink a:hover {
  text-decoration: underline !important;
}
.container-btnlink img {
  width: 26px;
}

.ikon {
  letter-spacing: 15px;
  margin-top: 65px;
}

.ikon img {
  width: 45px;
}
.ikon img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
