/* Style Navbar */
.navbar {
  background-color: #f4f3f3;
  height: 75px;
  padding-top: 20px;
  /* padding: 15px 0px; */
}

.container-nav {
  display: flex;
  /* height: 100%; */
  margin: 0px 60px;
  padding: auto 0px;
  align-items: center;
}

.container-nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 40px;
}

.nav-logo a img {
  width: 70px;
  margin-right: 10px;
}

.container-nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.nav-link a {
  text-decoration: none;
  color: #000;
}

.nav-link a:hover {
  color: orangered;
}

.nav-home {
  font-weight: bold;
}
.kontak {
  /* background-color: yellow; */
  width: 100%;
  text-align: end;
}
.kontak a {
  padding: 7px 18px;
  border: 1 solid black;
  border-radius: 7px;
  color: #fff;
  background-color: #111727;
  text-decoration: none;
}
.kontak a:hover {
  background-color: orangered;
}

.kontak i {
  display: none;
}
/* Close Style Navbar */

/* Styling for Navigasi Mobile */
.nav-mobile {
  display: flex;
  position: absolute;
  margin-top: -35%;
  flex-direction: column;
  text-align: center;
}

.nav-mobile .nav-link-bars {
  background-color: #d5d2d2;
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
}
.nav-mobile .nav-link-bars:hover {
  background-color: #b0b0b0;
}

.nav-mobile a {
  text-decoration: none;
  color: #fff;
}
.nav-mobile .active {
  background-color: #ff4500 !important;
}

.nav-mobile .actived {
  background-color: #ff4500 !important;
}

.nav-mobile .actived:hover {
  background-color: #c93600 !important;
}
/* Close Styling for Navigasi Mobile */

@media only screen and (max-width: 600px) {
  .container-nav {
    padding-top: 6px;
    margin: 0px 30px;
    padding-bottom: 13px;
  }

  .nav-logo a img {
    width: 60px;
    margin-right: 10px;
  }

  .nav-link,
  .kontak a {
    display: none;
  }

  .btn-bars {
    border: none;
  }

  .btn-bars i {
    display: block;
    cursor: pointer;
  }

  .nav-mobile {
    display: none;
    position: static;
    margin-top: 0px;
    flex-direction: column;
    text-align: center;
  }
}
