body {
  background-color: #e3e7eb !important;
}

/* Styling Navbar */
.bg-nav {
  background-color: #f4f3f3;
}

.navbar-brand img {
  width: 70px;
}

.nav-link:hover {
  color: orangered !important;
}

.btn-contact-us {
  background-color: orangered !important;
}
.btn-contact-us:hover {
  background-color: rgb(216, 58, 0) !important;
}
/* Close Style Navbar */
.form-check-input {
  cursor: pointer;
  width: 17px !important;
  height: 17px !important;
}

.form-check-label {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: rgb(1, 160, 1) !important;
  border-color: rgb(1, 160, 1) !important;
}

.form-check-label {
  height: 18px !important;
}

form .input-blog-image-group {
  height: 38px;
  cursor: pointer;
}

form .input-blog-image-group label p {
  padding: 7px 20px 0px 20px;
  height: 38px;
  background-color: #e4e4e4;
}

form .input-blog-image-group label {
  cursor: pointer;
}

form .input-blog-image-group img {
  width: 20px;
}

.btn-submit:hover {
  border-color: orangered !important;
  background-color: orangered !important;
}

/* Styling list Project */
.card-title a:hover {
  text-decoration: underline !important;
}

.text-durasi {
  font-size: 14px;
}

.text-paraf {
  text-align: justify;
  line-height: 23px;
}

.ikon {
  letter-spacing: 4px;
}
