.bg-nav {
  background-color: #f4f3f3;
}

body {
  background-color: #e3e7eb !important;
}

/* Styling Navbar */
.navbar-brand img {
  width: 70px;
}
.nav-link:hover {
  color: orangered !important;
}

.btn-contact-us {
  background-color: orangered !important;
}
.btn-contact-us:hover {
  background-color: rgb(216, 58, 0) !important;
}

/* Styling Content */
.bg-container {
  background-color: #fff;
}

.paraf {
  text-align: justify;
}

.container-btnlink .btn-contact:hover {
  text-decoration: none !important;
  background-color: orangered !important;
}

.container-btnlink a:hover {
  text-decoration: underline !important;
}
.container-btnlink img {
  width: 26px;
}

.ikon {
  letter-spacing: 15px;
  margin-top: 65px;
}

.ikon img {
  width: 45px;
}
.ikon img:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}
